/* Fonts are :
  --Lato
  --Roboto Condensed
  --Roboto
  --Monteserrat
  --Raleway


  ******How to import?*******


    font-family: 'Raleway', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Condensed', sans-serif;

    font-family: 'Lato', sans-serif;

*/
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway:300,400|Roboto|Roboto+Condensed');

body{
  background-color: #f8f9fa;
  color:#262626;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  font-family: 'Montserrat', sans-serif;
  background-color:white !important;
  border: 1px solid rgba(0,0,0,.15) !important;
  border-top:none !important;
  border-left:none !important;
  border-right:none !important;
}

.dropdown-menu{
  border-radius:0px !important;
}

.btn-nav{
  border-radius:0%;
}

.btn-add-left-nav{
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
  border-color:#fff;
}

.left-nav{
  /* height:100vh; */
  /* position: fixed; */
  background-color:white;
  border: 1px solid rgba(0,0,0,.15) !important;
  border-top:none !important;
  border-left:none !important;

}

.fas{
  background: -webkit-linear-gradient(#ff4b2b, #ff416c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal-content{
  border-radius:0 !important;
}

/* for smaller devices width less than 768px */
@media only screen and (max-width: 768px) {
    .xo-logo{
      visibility: hidden;
    }

    .left-nav{
      visibility: hidden;
    }
}
