/* Fonts are :
  --Lato
  --Roboto Condensed
  --Roboto
  --Monteserrat
  --Raleway


  ******How to import?*******


    font-family: 'Raleway', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Condensed', sans-serif;

    font-family: 'Lato', sans-serif;

*/
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway:300,400|Roboto|Roboto+Condensed');

body{
  background-color: #f8f9fa;
  color:#262626;
  width: 100%;
  overflow-x: hidden;
  /* font-family: 'Montserrat', sans-serif; */
  text-decoration:none;
}

a:link, a:visited{
  color:#262626;

}
a:hover, a:active{
  /* text-decoration: none; */
}

/* a:link.left-nav-link{
  color:#26262666 !important;
} */


/* .left-nav-text{
  color:#26262666;
} */

.add{
  background-color:white;
  margin:10px;
  padding:30px;
  border: 1px solid rgba(0,0,0,.15) !important;
}

.navbar{
  font-family: 'Montserrat', sans-serif;
  background-color:white !important;
  border: 1px solid rgba(0,0,0,.15) !important;
  border-top:none !important;
  border-left:none !important;
  border-right:none !important;
  position: fixed;
    transition: margin 100ms;
    z-index: 1;
    width: 100%;
}

.dropdown-menu{
  border-radius:0px !important;
}

.btn-nav{
  border-radius:0%;
}

.btn-add-left-nav{
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
  border-color:#fff;
  overflow-x: hidden;
}

.left-nav{
  height:100vh;
  background-color:white;
  border: 1px solid rgba(0,0,0,.15) !important;
  border-top:none !important;
  border-left:none !important;
  /*margin-left: 3%;*/
  position: fixed;
  margin-top: 100px;
  display: inline-block;
  
}
.userbar {
  padding-top: 10px;
}
.content {
  margin-top: 15%;
}
.dropdown-menu {
  z-index: 3;
}
.nav-mobi {
  text-align: center;
}
@media (max-width: 961px) {
  .left-nav{
    display:none;
  }
  .card-img {
    width:100%;
  }
  .content {
    margin-top: 12vh;
  }
}
.card-img {
  height:25vh;
  object-fit:cover
}
@media (max-height: 900px) and (min-width: 961px) {
  .left-nav {
    width: 40vh !important;
  }
  .content {
    margin-left: 35vh !important;
  }
}
  @media (min-width: 961px) {
    .nav-mobi {
      display: none;
    }
  .featured-tags {
    position: fixed;
    right: 2%;
  }
  .card-img {
    width:10vw;
  }
  .collapse:not(.show) {
    display: inline-block;
  }
  .left-nav {
    transition: margin 100ms;
    margin-top: -1%;
    padding-top: 3%;
    width: 25vh;
  }
  .navbar {
    position: fixed;
    transition: margin 100ms;
    /* z-index: 2; */
    width: 100%;
  }
  .content {
    margin-left: 25vh;
    margin-top: 15vh;
  }
  .posts-content {
    margin-left: 1%;
  }
}

/* .fas, .far{
  background: -webkit-linear-gradient(#ff4b2b, #ff416c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:1.25rem !important;

} */

.icon{
  background: -webkit-linear-gradient(#ff4b2b, #ff416c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:1.25rem !important;
}

.left-nav-icon{
  color: #20242966 !important;
  font-size:1.25rem !important;
}

.modal-content{
  border-radius:0 !important;
}

.left-nav-btn{
  padding-top:.5rem;
  padding-bottom:.5rem;
  padding-right:5rem;
  padding-left:1.5rem;

}
/* .left-nav-btn:hover{
  color:#262626;
  text-decoration:none;

} */
.left-nav-btn-div:hover{
  background-color:#2626261a !important;
  border-style: solid;
  border-color: #20242966;
  border-top: none;
  border-bottom: none;
}
.left-nav-active{
  background-color:#2626261a !important;
  color:white;
  text-decoration:none;
  border-style: solid;
  border-color: #20242966;
  border-top: none;
  border-bottom: none;
}
a:link.left-nav-active{
  color:white !important;
}

.left-nav-active .fas{
  background: -webkit-linear-gradient(#ff4b2b, #ff416c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:1.25rem !important;
}

.left-nav-active .far{
  background: -webkit-linear-gradient(#ff4b2b, #ff416c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:1.25rem !important;
}


#id_content{
  height:15vh;
}


.feed_post_card{
  border-radius: 0 !important;
  padding:20px;
}

.CodeMirror, .CodeMirror-scroll {
	min-height: 100px;
}


.tag-banner{
  font-family: 'Roboto Condensed', sans-serif;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  text-align: center;
  border: 1px solid rgba(0,0,0,.15) !important;
}

.featured_tags{
  font-size:12px !important;
}

.project-container{
  background-color:white;
  border: 1px solid rgba(0,0,0,.15) !important;
}
/* for smaller devices width less than 768px */
@media only screen and (max-width: 768px) {
    .xo-logo{
      visibility: hidden;
    }

    .left-nav{
      /* visibility: hidden; */
    }
    .left-nav-container{
      height:auto !important;
    }
    .left-nav{
      height:auto !important;
    }
    .left-nav-btn{
      padding-top:0 !important;
      padding-bottom:0 !important;
      padding-left:0 !important;
      padding-right:0 !important;
    }
    .blog_card_margin{
      margin-left:0 !important;
      margin-right:0 !important;
    }
}



.message {
    width: 300px;
    background-color: #faf0e6;
    border-radius: 10px;
}
.message * {
    padding: 10px;
}
.title {
    font-weight: bold;
}
/* BEGIN COMMENTS */
.comment {
    padding: 10px;
    margin: 10px;
    position: relative;
}
.comment_li {
    list-style: none;
}
.comment_last {
    padding: 10px;
    margin: 10px;
}
.comment_info {
    line-height: 24px;
    position: relative;
}
.comment_user {
    text-decoration: underline;
    margin-right: 10px;
    font-weight: bold;
    color: #666;
    font-size: .99em;
    cursor: pointer;
    float: left;
}
.comment_data {
    font-size: 11px;
    color: #666;
    margin-top: 10px;
}
.comment_text {
    margin-top: 10px;
    float: inherit;
    font-size: 1.08em;
    color: black;
}
.comment_reply_link {
    color: #004276;
    outline: none;
    text-decoration: none;
    vertical-align: baseline;
}
.comments_length {
    padding-left: 15px;
    font-weight: bold;
}
#form-comment {
    padding: 15px;
}
form label {
    float: left;
    width: 130px;
}
label[for=id_honeypot],
#id_honeypot {
  display: none;
}
#cancel_reply {
    display: none;
}
.comments #cancel_reply {
  display: inline;
}


/* profile design */
.basic-info-top {
  height: 35vh;
  margin-top: 30px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .2);
  /* background-color: #00AA77; */
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  /* margin-right: 250px; */
}

.basic-info-bottom {
  /* height: 40vh; */
  margin-top: 25vh;
  background-color: white;
  /* border: solid; */
  border-radius: .25rem;
  border-top-left-radius: none;
  /* position: relative; */
}

.profile-image-container {
  background-size: cover;
  /* margin-top: 15vh; */
  z-index: 2;
  height: 200px;
  width: 200px;
  border: solid;
  border-color: white;
  border-radius: 50%;
  box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, .15), 0 1.5px 3px 0 rgba(0, 0, 0, .15);
}


.basic-info-data {
  text-align: center;
  margin-top: 10vh;
  color: #151A22;
}

.nav-pills .nav-link.active{
  color:#262626;
  background-color:transparent !important;
  border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-width:1px;
}
.zoomimg {
  cursor: pointer;
}

