/* Fonts are :
  --Lato
  --Roboto Condensed
  --Roboto
  --Monteserrat
  --Raleway


  ******How to import?*******


    font-family: 'Raleway', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Condensed', sans-serif;

    font-family: 'Lato', sans-serif;

*/
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway:300,400|Roboto|Roboto+Condensed');

body{
  background-color: #f8f9fa;
  color:#262626;
  overflow-x: hidden;
  /* font-family: 'Montserrat', sans-serif; */
  text-decoration:none;
}

a:link, a:visited{
  color:#262626;

}
a:hover, a:active{
  /* text-decoration: none; */
}

/* a:link.left-nav-link{
  color:#26262666 !important;
} */


/* .left-nav-text{
  color:#26262666;
} */

.add{
  background-color:white;
  margin:10px;
  padding:30px;
  border: 1px solid rgba(0,0,0,.15) !important;
}

.navbar{
  font-family: 'Montserrat', sans-serif;
  background-color:white !important;
  border: 1px solid rgba(0,0,0,.15) !important;
  border-top:none !important;
  border-left:none !important;
  border-right:none !important;
}

.dropdown-menu{
  border-radius:0px !important;
}

.btn-nav{
  border-radius:0%;
}

.btn-add-left-nav{
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
  border-color:#fff;
}

.left-nav{
  height:100vh;
  background-color:white;
  border: 1px solid rgba(0,0,0,.15) !important;
  border-top:none !important;
  border-left:none !important;

}

/* .fas, .far{
  background: -webkit-linear-gradient(#ff4b2b, #ff416c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:1.25rem !important;

} */

.icon{
  background: -webkit-linear-gradient(#ff4b2b, #ff416c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:1.25rem !important;
}

.left-nav-icon{
  color: #20242966 !important;
  font-size:1.25rem !important;
}

.modal-content{
  border-radius:0 !important;
}

.left-nav-btn{
  padding-top:.5rem;
  padding-bottom:.5rem;
  padding-right:5rem;
  padding-left:1.5rem;

}
/* .left-nav-btn:hover{
  color:#262626;
  text-decoration:none;

} */
.left-nav-btn-div:hover{
  background-color:#2626261a !important;
  border-style: solid;
  border-color: #20242966;
  border-top: none;
  border-bottom: none;
}
.left-nav-active{
  background-color:#2626261a !important;
  color:white;
  text-decoration:none;
  border-style: solid;
  border-color: #20242966;
  border-top: none;
  border-bottom: none;
}
a:link.left-nav-active{
  color:white !important;
}

.left-nav-active .fas{
  background: -webkit-linear-gradient(#ff4b2b, #ff416c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:1.25rem !important;
}

.left-nav-active .far{
  background: -webkit-linear-gradient(#ff4b2b, #ff416c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:1.25rem !important;
}


#id_content{
  height:15vh;
}


.feed_post_card{
  border-radius: 0 !important;
  padding:20px;
}

.CodeMirror, .CodeMirror-scroll {
	min-height: 100px;
}


.tag-banner{
  font-family: 'Roboto Condensed', sans-serif;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  text-align: center;
  border: 1px solid rgba(0,0,0,.15) !important;
}

.featured_tags{
  font-size:12px !important;
}
/* for smaller devices width less than 768px */
@media only screen and (max-width: 768px) {
    .xo-logo{
      visibility: hidden;
    }

    .left-nav{
      /* visibility: hidden; */
    }
    .left-nav-container{
      height:auto !important;
    }
    .left-nav{
      height:auto !important;
    }
    .left-nav-btn{
      padding-top:0 !important;
      padding-bottom:0 !important;
      padding-left:0 !important;
      padding-right:0 !important;
    }
    .blog_card_margin{
      margin-left:0 !important;
      margin-right:0 !important;
    }
}



.message {
    width: 300px;
    background-color: #faf0e6;
    border-radius: 10px;
}
.message * {
    padding: 10px;
}
.title {
    font-weight: bold;
}
/* BEGIN COMMENTS */
.comment {
    padding: 10px;
    margin: 10px;
    position: relative;
}
.comment_li {
    list-style: none;
}
.comment_last {
    padding: 10px;
    margin: 10px;
}
.comment_info {
    line-height: 24px;
    position: relative;
}
.comment_user {
    text-decoration: underline;
    margin-right: 10px;
    font-weight: bold;
    color: #666;
    font-size: .99em;
    cursor: pointer;
    float: left;
}
.comment_data {
    font-size: 11px;
    color: #666;
    margin-top: 10px;
}
.comment_text {
    margin-top: 10px;
    float: inherit;
    font-size: 1.08em;
    color: black;
}
.comment_reply_link {
    color: #004276;
    outline: none;
    text-decoration: none;
    vertical-align: baseline;
}
.comments_length {
    padding-left: 15px;
    font-weight: bold;
}
#form-comment {
    padding: 15px;
}
form label {
    float: left;
    width: 130px;
}
label[for=id_honeypot],
#id_honeypot {
  display: none;
}
#cancel_reply {
    display: none;
}
.comments #cancel_reply {
  display: inline;
}


/
