/* Fonts are :
  --Lato
  --Roboto Condensed
  --Roboto
  --Monteserrat
  --Raleway


  ******How to import?*******


    font-family: 'Raleway', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Condensed', sans-serif;

    font-family: 'Lato', sans-serif;

*/
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway:300,400|Roboto|Roboto+Condensed');

body{
  background-color: #262626;
  color:white;
}

.navbar{
  font-family: 'Montserrat', sans-serif;
  color:white;
}

.btn-nav{
  border-radius:0%;
}
