{% extends 'core/core_base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 " style="">
      <div class="add">
      <form id="post_form" method="post" action="/blog/add_blog/" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-outline-dark my-2 my-sm-0 btn-nav" type="submit" name="submit" value="submit"/>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
