{% extends 'core/core_base.html' %}
{% load crispy_forms_tags %}

{% block add_btn %}
<a class="btn btn-outline-dark my-4 mx-3 btn-nav btn-add-left-nav" href="/post/add_post/" >
  <i class="fas fa-plus my-2 icon" style="font-size:1.5rem">
  </i>
  <span style="font-size:1rem;" class="mx-4">
    Add Post
  <span>
</a>
{% endblock add_btn %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 " style="">
      <div class="add">
      <form id="post_form" method="post" action="/post/add_post/" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-outline-dark my-2 my-sm-0 btn-nav" type="submit" name="submit" value="submit"/>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
