{% extends 'core/core_base.html' %}
{% load humanize %}


{% block add_btn %}
<a class="btn btn-outline-dark my-4 mx-3 btn-nav btn-add-left-nav" href="/blog/add_blog/" >
  <i class="fas fa-plus my-2 icon" style="font-size:1.5rem">
  </i>
  <span style="font-size:1rem;" class="mx-4">
    Add Blog
  <span>
</a>
{% endblock add_btn %}

{% block content %}

<div class="container.fluid ">
  <div class="row mx-5 blog_card_margin">
    <div class="col-12 col-sm-10">
      <div class="container">
        <div class="row">
          <!-- <div class="card-columns"> -->
          {% for blog in latest_blogs %}

            <div class="col-12 col-sm-9 my-3 ">
              <div class="container.fluid blog-card" style="background-color:#fff; border: 1px solid rgba(0,0,0,.125) !important; background-clip: border-box !important;">
                <div class="row">
                  <div class="col-12 col-sm-3" >
                    {% if blog.image %}
                        <img style="height:25vh; width:10vw; object-fit:cover" src="/media/{{blog.image}}"  alt="">

                      {% else %}
                        <a href="https://imgur.com/YBtD4km"><img  src="https://i.imgur.com/YBtD4km.png" style="height:25vh; width:10vw; object-fit:cover"/></a>
                    {% endif %}
                  </div>
                  <div class="col-12 col-sm-9">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 pt-3">
                          <a href="/blog/{{ blog.url }}"><h5><strong>{{blog.title}}</strong></h5></a>
                        </div>
                        <!-- <div class="col-12 my-1">
                          <p style="font-size:10px !important">{{blog.get_content_as_markdown|truncatechars:20}}</p>
                        </div> -->
                        <div class="col-12" style="text-align:right">
                          <span><a href="/accounts/{{blog.author}}">{{blog.author}}</a></span>|
                          <span style="font-size:10px">{{blog.created_at|naturaltime}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
