{% extends 'core/core_base.html' %}
{% load humanize %}
<!-- {% load comments static %} -->

<link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />
<script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>


{% block add_btn %}
<a class="btn btn-outline-dark my-4 mx-3 btn-nav btn-add-left-nav" href="/blog/add_blog/" >
  <i class="fas fa-plus my-2" style="font-size:1.5rem">
  </i>
  <span style="font-size:1rem;" class="mx-4">
    Add Blog
  <span>
</a>
{% endblock add_btn %}

{% block content %}

<div class="container" >
  <div class="row justify-content-center">
    <!-- <div class="col-12 col-sm-11 "> -->

    <!-- </div> -->
    <div class="col-12 col-sm-11 my-5 px-5 py-5" style="background-color:#fff; ">
      {% if single_blog.author %}
        <h5 class="card-title" style="font-weight:700; font-size:15px">{{single_blog.author}}</h5>

      {% else %}
        <h5 class="card-title">Anonymous</h5>
      {% endif %}
      <p class="card-subtitle mb-4 text-muted" style="font-size:12px;">{{single_blog.created_at|naturaltime}}</p>

      <h1 style="font-family: 'Abril Fatface', cursive;">{{single_blog.title}}</h1>
      <hr>
      {% if single_blog.image %}
        <img class="img-fluid" src="/media/{{single_blog.image}}">
      {% endif %}
      <div>
        {{single_blog.get_content_as_markdown}}
      </div>
    </div>
  </div>

<!--comments-->

<!-- <script>
    $(function(){
        $("a.comment_reply_link").click(function(){
            var parent_id = +$(this).attr('data-id');
            $("input[name='parent']").attr('value',parent_id);
        })
    })
</script> -->

  {% load threadedcomments_tags %}
  {% load i18n %}

  <h2>Comments for {{ single_blog.title }}:</h2>

  {% render_comment_list for single_blog %}

  {% render_comment_form for single_blog %}

<!-- comments end-->

{% endblock %}
