<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- <script>{% load static %}</script> -->
    <link rel="stylesheet" href="{% get_static_prefix %}core_style.css">

    <title>Sugar Labs Social</title>
  </head>
  <body>

    <!-- Navigation starts here -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <a class="navbar-brand " href="/">SUGAR LABS SOCIAL</a>

          <div class="collapse navbar-collapse" id="navbarToggler" style="justify-content:right">
            {% csrf_token %}
            <i class="fas fa-user-circle" style="font-size:2rem; color:#262626"></i>


            <div class="dropdown mr-2">
              <a class="dropdown-toggle dropdown-toggle-split"id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="my-2 my-sm-0 mx-2">{{username}}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right mt-sm-3" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item btn btn-outline-dark my-2 my-sm-0 btn-nav" href="/logout/" role="button">Logout</a>
              </div>
            </div>


          </div>

        </nav>
    <!--navigation ends here-->


    <div class="container.fluid">
      <div class="row">
        <div class="col-sm-2 left-nav">
          <div class="container.fluid">
            <div class="col-12">
              <a class="btn btn-outline-dark my-4 btn-nav btn-add-left-nav" href="#post_form" role="button">
                <i class="fas fa-plus my-2" style="font-size:1.5rem">
                </i>
                <span style="font-size:1rem;" class="mx-4">
                  Add Post
                <span>
              </a>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
    {% block content %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <script src="{% get_static_prefix %}script.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
