{% extends 'core/core_base.html' %}

{% block content %}
  <div class="container.fluid">
    <div class="row">
      <div class="col-sm-2 left-nav">
        <div class="container.fluid">
          <div class="col-12">
            <a class="btn btn-outline-dark my-4 btn-nav btn-add-left-nav" href="#post_form" role="button">
              <i class="fas fa-plus my-2" style="font-size:1.5rem">
              </i>
              <span style="font-size:1rem;" class="mx-4">
                Add Post
              <span>
            </a>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
