{% extends 'core/core_base.html' %}
{% load humanize %}
{% load class_tag %}

{% block add_btn %}
<a class="btn btn-outline-dark my-4 mx-3 btn-nav btn-add-left-nav" href="/post/add_post/" >
  <i class="fas fa-plus my-2 icon" style="font-size:1.5rem">
  </i>
  <span style="font-size:1rem;" class="mx-4">
    Add Post
  <span>
</a>
{% endblock add_btn %}

{% block content %}


<div class="container.fluid">
  <div class="row">
    <div class="col-12 col-sm-9">
      <div class="container.fluid">
        <div class="row justify-content-center">
            {% for feed in latest_feed %}

            {% if feed|get_class == 'Post' %}
            <div class="col-12 col-sm-9 my-3 ">

              <div class="card feed_post_card my-2">

                  {% if feed.author %}
                    <h5 class="card-title" style="font-weight:700; font-size:15px"><a href="/accounts/{{feed.author}}">{{feed.author}}</a></h5>

                  {% else %}
                    <h5 class="card-title">Anonymous</h5>
                  {% endif %}
                  <p class="card-subtitle mb-4 text-muted" style="font-size:12px;">{{feed.created_at|naturaltime}}</p>
                  <hr>

                {% if feed.image %}
                <img class="card-img-top zoomimg" style="" src="/media/{{feed.image}}">

                {% else %}
                  <img class="card-img-top" src="https://i.imgur.com/YBtD4km.png"/>

                {% endif %}
                <h3 style="margin-top:20px; margin-bottom:10px"><a href="/post/{{ feed.url }}"><strong>{{feed.title}}</strong></a></h3>
                  <!-- <p class="card-text" style="color:#262626b3">{{feed.get_content_as_markdown}}</p> -->
                  <p class="tags">

                    {% for tag in feed.tags.all %}
                        <a class="badge badge-secondary" href="{% url "post_by_tag" tag.slug %}" style="color:#fff">{{ tag.name }}</a>
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}

                  </p>
              </div>
            </div>
            {% else %}


                        <div class="col-11 col-sm-8 my-3 ">
                          <div class="container.fluid blog-card" style="background-color:#fff; border: 1px solid rgba(0,0,0,.125) !important; background-clip: border-box !important;">
                            <div class="row">
                              <div class="col-12 col-sm-3" >
                                {% if feed.image %}
                                    <img class="zoomimg card-img" src="/media/{{feed.image}}"  alt="">

                                  {% else %}
                                    <a href="https://imgur.com/YBtD4km"><img class="card-img" src="https://i.imgur.com/YBtD4km.png"/></a>
                                {% endif %}
                              </div>
                              <div class="col-12 col-sm-9">
                                <div class="container">
                                  <div class="row">
                                    <div class="col-12 py-3">
                                      <a href="/blog/{{ feed.url }}"><h3><strong>{{feed.title}}</strong></h3></a>
                                    </div>
                                    <div class="col-12" style="text-align:right">
                                      <span>{{feed.author}}</span>|
                                      <span style="font-size:10px">{{feed.created_at|naturaltime}}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

            {% endif %}

            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-sm-2 mt-2 featured-tags">
        <h6><i class="fas fa-tags" style="font-size:15px !important"></i> Featured Tags</h6>
        <hr>
        <div class="container">
          <div class="row">
            {% for a in custom_tags %}
              <div class="col-12 my-1">
                <a href="/tag/{{ a }}" style="font-size:12px"><i class="fas fa-hashtag" style="font-size:12px !important"></i> {{ a }}</a>
              </div>
            {% endfor %}



          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
