{% extends 'core/core_base.html' %}
{% load humanize %}

{% block add_btn %}
<a class="btn btn-outline-dark my-4 mx-3 btn-nav btn-add-left-nav" href="/post/add_post/" >
  <i class="fas fa-plus my-2 icon" style="font-size:1.5rem">
  </i>
  <span style="font-size:1rem;" class="mx-4">
    Add Post
  <span>
</a>
{% endblock add_btn %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="container">
          <div class="row my-5">
            <div class="col-12">
              <h5>Running</h5>
            </div>
            {% for project in projects %}
              {% if project.status == 'RN' %}
                <div class="col-12 col-sm-3 mt-5">
                  <div class="card" style="width: 12rem;">
                    <img style="height:6rem; width:11.75rem; object-fit:cover" src="/media/{{project.image}}" alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-title"><a href="/projects/{{project.url}}">{{project.title}}</a></h6>
                      <!-- <p class="card-text">{{project.subtitle}}</p> -->
                    </div>
                  </div>
                </div>
                {% endif %}
            {% endfor %}
          </div>
          <div class="row my-5">
            <div class="col-12">
              <h5>Upcoming</h5>
            </div>
            {% for project in projects %}
              {% if project.status == 'UPCMG' %}
                <div class="col-12 col-sm-3 mt-5">
                  <div class="card" style="width: 12rem;">
                    <img style="height:6rem; width:11.75rem; object-fit:cover" src="/media/{{project.image}}" alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-title"><a href="/projects/{{project.url}}">{{project.title}}</a></h6>
                      <!-- <p class="card-text">{{project.subtitle}}</p> -->
                    </div>
                  </div>
                </div>
                {% endif %}
            {% endfor %}
          </div>

          <div class="row my-5">
            <div class="col-12">
              <h5>Completed</h5>
            </div>
            {% for project in projects %}
              {% if project.status == 'CMPLTD' %}
                <div class="col-12 col-sm-3 mt-5">
                  <div class="card" style="width: 12rem;">
                    <img style="height:6rem; width:11.75rem; object-fit:cover" src="/media/{{project.image}}" alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-title"><a href="/projects/{{project.url}}">{{project.title}}</a></h6>
                      <!-- <p class="card-text">{{project.subtitle}}</p> -->
                    </div>
                  </div>
                </div>
                {% endif %}
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
