{% extends 'core/core_base.html' %}
{% load humanize %}
{% load threadedcomments_tags %}
{% load i18n %}

{% block add_btn %}
<a class="btn btn-outline-dark my-4 mx-3 btn-nav btn-add-left-nav" href="/post/add_post/" >
  <i class="fas fa-plus my-2 icon" style="font-size:1.5rem">
  </i>
  <span style="font-size:1rem;" class="mx-4">
    Add Post
  <span>
</a>
{% endblock add_btn %}

{% block content %}
<h1>{{user.username}}</h1>
<h1>{{profile.bio}}</h1>
<h1>{{profile.website}}</h1>


{% for post in posts %}
<p>{{post.title}}</p>
{% endfor %}
{% endblock %}