{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--Main section-->
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 main-sec-left">
          <span>Sugar Labs Social.</span>
          <div class="vl"> <p class="main-text-2">A Platform of Discussion for <br />Sugar User/Teacher/Developer/Parents</p> </div>
        </div>
        <div class="col-12 col-md-6 hidden-sm-down">
          <img class="xo-logo" src="{% static "images/xo-logo.svg" %}">
        </div>
      </div>
    </div>
<!--Main section ends-->

{% endblock %}
